<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Posts:</h1>
  <ul>
    <% if (posts.length) { %>
      <% posts.forEach(({ id, title, createdAt, text, author }) => { %>
        <li>
          <article>
            <h2>
              <a href="/posts/<%= id %>"><%= title %></a>
            </h2>
            <p><%= text %></p>
            <div class="info">
              <span><%= createdAt.toLocaleDateString() %></span>
              <span><%= author %></span>
            </div>
            <button class="btn-delete" data-id="<%= id %>"> <!--Добавляем кнопку для удаление и присваеваем ей дата ID равному id из кода страницы (то есть полученому из бд)-->
              <i class="fas fa-trash-alt" data-id="<%= id %>"></i> <!--Добавляем картинку на кнопку и как и на кнопку на всякий случай пихаем в нее тот же ID что и на кнопку (смотри выше)-->
            </button>
          </article>
        </li>
      <% }) %>
    <% } %>
  </ul>
  <script> // добавляем JS скрипт на всю страницу
    document.addEventListener('click', (e) => { // проверяем все клики по странице
      const id = e.target?.dataset?.id || null // после клика смотрим являеться ли то по чему кликнули обьектом и имеет ли он датасет который мы присвоили кнопке и картинке (отдельный датасет) и если имеет то мы хотим в переменную поиметь его IDи из этого самого датасета в противном случае если ID нет то присваеваем значение по умолчанию null
      if(id){ // если id существует, то 
        fetch(`/posts/${id}`, { // даем запрос на указанный адорес нашего сайта (id, это айдишник поста который мы указали в кнопке и на картинке)
          method: 'DELETE', // отправляем обьект с конфигурацией который говорит что это запрос на удаление (дальше инфу смотри на сервере)
        }).then(() => { // после того как запрос был отправлен и промис был выполнен можем обновить окно и увидеть удаление обьекта
          window.location.reload() // обновление окна 
        })
      }
    })
  </script>
</body>
</html>
