<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> <!-- Подключение разметки из другого EJS файла -->
<body>
  <%- include('./partials/nav.ejs') %> <!-- Подключение разметки из другого EJS файла -->
  <article>
    <div class="info">
      <span><%= post.date || 'No Date' %></span>
      <span><%= post.author %></span>
    </div>
    <h1><%= post.title %></h1>
    <p><%= post.text %></p>
  </article>
</body>
</html>
